.notelist {
  width: 300px;
}
.singlenote {
  width: 100%;
  background-color: white;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  h5 {
    color: rgb(61, 61, 61);
    font-size: 1.2rem;
  }
  p {
    margin: 0.5rem 0;
    color: rgb(98, 98, 98);
    font-size: 1rem;
  }
  h6 {
    color: rgb(194, 194, 194);
  }
}
.singlenote__right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  i {
    margin-left: 0.5rem;
    cursor: pointer;
  }
  a {
    color: black;
    text-decoration: none;
  }
}
.fullheart {
  color: rgb(255, 2, 141);
}
.emptyheart {
  color: black;
}
.fav__container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.note__loading {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.detail__container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.detail__card {
  width: 800px;
  min-height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.card__title {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-top: 1rem;
  color: rgb(92, 92, 92);
}
.card__content {
  padding-left: 2rem;
}
.card__time {
  background-color: rgb(189, 189, 189);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  color: rgb(112, 111, 111);
  border-top: 1px solid rgb(172, 172, 172);
}
