.notelist {
  width: 300px;
}
.singlenote {
  width: 100%;
  background-color: white;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  h5 {
    color: rgb(61, 61, 61);
    font-size: 1.2rem;
  }
  p {
    margin: 0.5rem 0;
    color: rgb(98, 98, 98);
    font-size: 1rem;
  }
  h6 {
    color: rgb(194, 194, 194);
  }
}
.singlenote__right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  i {
    margin-left: 0.5rem;
    cursor: pointer;
  }
}
.fullheart {
  color: rgb(255, 2, 141);
}
.emptyheart {
  color: black;
}
.fav__container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
